.stack-right{
    width: 100%;
    padding-top: 10%;

}
.stack-left{
    width: 100%;

} 

.button-alignement{
    width: 100%;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .stack-right{
        width: 48%;
        padding-top: 0px;
        margin-left: 2%;
    }
    .stack-left{
        width: 48%;
        margin-right: 2%;
    }  

    .button-alignement{
        width: 50%;
    }

    .marge-desk{
        margin-top: 10px;
        margin-bottom: 15px;

    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 100px) { 

    .marge-desk{
        margin-top: 10%;
    }
}

.css-m3auwj-MuiTypography-root{
    font-size: 0;
}