@media (min-width: 900px) {
  .test .child-event:nth-child(1) {
    order: 1;
  }
  .test .child-event:nth-child(2) {
    order: 3;
  }
  .test .child-event:nth-child(3) {
    order: 5;
  }
  .test .child-event:nth-child(4) {
    order: 2;
  }
  .test .child-event:nth-child(5) {
    order: 4;
  }
  .test .child-event:nth-child(6) {
    order: 6;
  }
  /*   .test .child-event:nth-child(4) {
    order: 7;
  } */
}
