.content {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 200px;

}
.content:hover {
    overflow: visible;
    white-space: normal;
}